/* style.css */

header {
  background-color: #1f2937;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 100px;
}

.handh div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
}

.headerlogo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.headerlinks {
  display: flex;
  justify-content: end;
}

.headerlinks a {
  font-size: 18px;
  color: #e5e7eb;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
}

.tandp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.text2 {
  font-size: 18px;
  color: #e5e7eb;
}

.text3 {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  background-color: dodgerblue;
  padding: 20px;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.texts div {
  display: flex;
  padding: 10px;
}

.picturep {
  color: white;
  padding: 100px;
  background-color: lightgrey;
  margin: 30px;
  width: 450px;
  text-align: center;
}

.info {
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 30px;
}
