/* style.css */

header {
  background-color: #1f2937;
}

body {
  margin: auto;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 100px;
}

.handh div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
}

.headerlogo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.headerlinks {
  display: flex;
  justify-content: end;
}

.headerlinks a {
  font-size: 18px;
  color: #e5e7eb;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
}

.tandp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.text2 {
  font-size: 18px;
  color: #e5e7eb;
}

.text3 {
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  background-color: dodgerblue;
  padding: 20px;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.texts div {
  display: flex;
  padding: 10px;
}

.picturep {
  color: white;
  padding: 100px;
  background-color: grey;
  margin: 30px;
  width: 450px;
  text-align: center;
}

.info {
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 30px;
}

.pic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pic1 div {
  border-style: solid;
  border-width: 5px;
  border-color: dodgerblue;
  height: 170px;
  width: 170px;
  border-radius: 30px;
}

.pic1 p {
  width: 170px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: dimgray;
}

.pic2 div {
  border-style: solid;
  border-width: 5px;
  border-color: dodgerblue;
  height: 170px;
  width: 170px;
  border-radius: 30px;
}

.pic2 p {
  width: 170px;
  font-size: 18px;
  text-align: center;
  color: dimgray;
}

.pic3 div {
  border-style: solid;
  border-width: 5px;
  border-color: dodgerblue;
  height: 170px;
  width: 170px;
  border-radius: 30px;
}

.pic3 p {
  width: 170px;
  font-size: 18px;
  text-align: center;
  color: dimgray;
}

.pic4 div {
  border-style: solid;
  border-width: 5px;
  border-color: dodgerblue;
  height: 170px;
  width: 170px;
  border-radius: 30px;
}

.pic4 p {
  width: 170px;
  font-size: 18px;
  text-align: center;
  color: dimgray;
}

.qoutep {
  background-color: #e5e7eb;
  height: 150px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.qandt {
  margin-left: 300px;
  margin-right: 300px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding: 15px;
}

.thor {
  display: flex;
  flex-direction: row-reverse;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

.ctoa {
  height: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctat {
  height: 150px;
  width: 1000px;
  background-color: dodgerblue;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bef {
  display: flex;
  flex-direction: column;
}

.btext {
  font-weight: bold;
  font-size: 22px;
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
}

.stext {
  font-size: 20px;
  color: #f9faf8;
}

.button {
  font-size: 17px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  width: 100px;
  color: #f9faf8;
  border-width: 2px;
  border-color: #f9faf8;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

.footer {
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1f2937;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #e5e7eb;
}
